<!DOCTYPE html>
<html>
<head>
  <title>FrontendTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <style>
  @import url('https://fonts.googleapis.com/css?family=Lato');
  </style>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="menuImage">
    <img class="map" src="/assets/map.png" alt="Hello There">
    <%= link_to image_tag("/assets/teachable-logo.png"), "/", :class => 'logo' %>
    <%= link_to '<button class="search" type="button">Search</button>'.html_safe, "/"%>
    <!-- <button class="search" type="button" name="button">Search</button> -->
    <!-- <button class="favorite" type="button" name="button">Favorites</button> -->
    <%= link_to '<button class="favorite" type="button">Favorites</button>'.html_safe, "/favorites"%>
  </div>
  <%= yield  %>

</body>
</html>
